body{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-body.h-100 {
    
    border-radius: 2px;
    display: flex; 
    justify-content: center;
    margin: 13px;

}

.bg-info-subtle.text-emphasis-info{
    background-image: url(../images/p4.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.row.col-12.d-flex.justify-content-center{
    height: 150px;
}

.col-3.fs-1.fw-semibold{
    color: rgb(27, 162, 167); 
    text-align:center; 
    padding-top: 80px; 
    font-family: 'Philosopher', sans-serif;
}

.col-6.card.m-auto{
    height: 450px; 
    background-image:url(../images/p3.jpg); 
    background-size: cover; 
}

.col-5.z-3.position-absolute{
    display: flex;
    background-color:rgb(2, 54, 57); 
    border-radius:8px; 
    right: 40px; 
    bottom:40px; 
    top: 40px; 
    padding-top: 14px;
    justify-content: center;
}

.btn.btn-outline-info.mb-1{
    float: right;
}

.btn.btn-outline-info.mb-1:hover{

}

.btn.btn-info.me-2.fw-medium{
    float: right;
    background: linear-gradient(#061820, rgb(1, 207, 222)); 
}

.btn.btn-info.me-2.fw-medium:hover{
    color: #fff; 
    background-color: black;
    background: var(--bs-btn-hover-bg) linear-gradient(#061820, rgb(71, 75, 75));
    border-color: black;
}