
.navbar{
  display:flex;
  width: 100%;
  height: 55px;
  background-color: rgb(54, 133, 133);
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0;
}
.navbar-brand{
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: bold;
  
}
.nav-content{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 padding-left: 40px;
 padding-right: 40px;
 height: 100%;
}
.row.col-12{
  margin-top: 70px;
}

.icon-link,.logo{
  display: flex;
  
}
.profile,.notification{
    border-radius: 18px;
    margin-left: 13px;
}
.profile:hover,.notification:hover{
  background-color: grey;
}

.img{
  width: 30px;
}

