html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3rem;
	color: #b8c4cc;
	background-color: #17202a;
}

.navbar{
  display:flex;
  width: 100%;
  height: 55px;
  background-color: rgb(54, 133, 133);
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0;

}
.navbar-brand{
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0.8px 0.8px rgba(222, 219, 219, 0.992);
  cursor: pointer;
  padding-top: 16px;
}

.nav-content{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 padding-left: 40px;
 padding-right: 40px;
 height: 100%;
}

.icon-link,.logo{
  display: flex;
  
}
.profile,.notification{
    border-radius: 18px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.profile{
  margin-right: 10px;
}

.profile:hover,.notification:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.img{
  width: 30px;
}

/* cards */
.row.col-12.justify-content-center{
  padding: 0px;
}
.card.col-8.mb-4{
  display: flex;
  background-image: url(images/p3.jpg);
}

.col-9.card-text{
  color: #000;
}

.image-box {
  overflow: hidden;
  border-radius: 3px 50px 50px 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: left;
}

.card-img-top {
  width: 95%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 3px 50px 50px 3px; /* In case the image is not a perfect fit */
  margin-left: 0%;
} 

#blog-image{
  height: 95%;
}
.arrow {
  padding:7% 10% ;
  justify-content: center;
}

.arrow img {
  width: 40px; 
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Add a hover effect to the arrow */
.arrow:hover img {
  transform: translateX(5px); /* Move the arrow slightly to the right on hover */
}

.card-title{
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.card-text{
  padding-top: 3%;
  padding-right: 5%;
  
}

/* testimonials */
.row.col-12.fs-2.mb-4.fw-semibold.justify-content-center{
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(71, 177, 177);
  margin-top: 80px;
}

#content {
  max-width: 600px;
  margin: 40px auto;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  color: #000000ab;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #efefef;
}

#carouselExampleAutoplaying{
  /* background-color: #212121; */
  width: 80%;
}

/* footer */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

footer {

  width: 100%;
  margin-top: 50px;
  display: inline-block;
  background: #ccc;
  height: auto;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px 'Philosopher', sans-serif;
  padding: 30px 50px;
  margin-bottom: 0%;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: rgb(71, 177, 177);
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: " ";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: rgb(71, 177, 177);
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{
  transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}

.footer-distributed p.footer-links a:hover{
  text-decoration:underline;
}

/* greetings */
.row.col-12{
  margin-top: 100px;
}

.row.col-12{
  padding: 0 20%;
  margin-bottom: 50px;
  color: #efefefb3;
  font-size: 18px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#msg, #greet{
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-style: bold;
  font-size: 30px;
  color: rgb(71, 177, 177);
}

